@import url('https://fonts.cdnfonts.com/css/austral-slab');


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #000000, #1b8c9b);
    margin: 0;
    padding: 0;
    font-family: 'Austral Slab', sans-serif;
}

header {
    background-color: #1b8c9b;
    color: white;
    padding: 20px 0;
    font-size: 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

main {
    padding: 20px;
    color: #ffffff;
    font-size: 20PX;
}


button {
    padding: 12px 24px;
    font-size: 1rem;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #1b8c9b;
    color: white;
    transition: background 0.3s;
}

button:hover {
    background-color: #1b8c9b;
}

#result {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #1b8c9b;
    text-align: center;
    transition: background 0.3s;
}

#map {
    width: 90%;
    height: 500px;
    margin: 20px auto;
    border-radius: 10px;
}
#result img {
    max-width: 300px;
    margin-top: 10px;
    border-radius: 5px;
}